body {
background-image: url(documents/background.jpg);
background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover;
}

ul li {
  font-size: 25px;
}
img {
  width: 100%;
  height: inherit;
}